body {
    min-height: 100vh;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

ul {
    list-style-type:none;
    margin: 0px;
    padding: 0px;
}

/* Hero section */
.hero {
    background-color: #1f2937;
    height: 500px;
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}

.header-logo {
    font-weight: 800;
}

.header-link,
.secondary {
    display: flex;
    font-size: 18px;
    gap: 18px;
}

.header-link a,
.secondary {
    color:#e5e7eb;
}

.hero-content {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    gap:30px;
}

.main {
    color: #f9faf9;
    font-weight: 800;
    font-size: 48px;
}

.hero-content img {
    width: 600px;
}

/* Information Section */

.information-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding-top: 30px;
    padding-bottom: 30px;
}

.information-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.info {
    width: 160px;
    text-align: center;
}

.info img {
    width: 160px;
    border: 5px solid #3A7DF2;
    border-radius: 10px;
}
